<div class="row justify-content-center">

    <!--Author image, name, and voting on left side of post-->
    <div class="col-md-3">
        <div class="row justify-content-center">
            <img class="userPostImage" src="/images/userPlaceholder.jpg">
        </div>
        <div class="row justify-content-center">
            <h6 class="userPostName">{{data.UserId}}</h6>
        </div>
        <div class="row justify-content-center">
            <span>
                <button class="upvoteButton">
                    <i class="fas fa-chevron-circle-up"></i>
                </button>
                <h4 class="voteValue">{{data.upvotes}}</h4>
                <button class="downvoteButton">
                    <i class="fas fa-chevron-circle-down"></i>
                </button>
            </span>
        </div>
    </div>

    <!--Author's post-->
    <div class="col-md-6">
        <div class="userPostBody">

            <!--Heading: Title / date posted-->
            <span class="userPostHeading">
                <a class="userPostPreview" href="/post/" {{{id}}} target="_blank">
                    <h3 class="userPostTitle" value={{data.id}}>{{data.title}}</h3>
                </a> -
                <h4 class="userPostTimeStamp">{{data.createdAt}} - #{{data.CategoryId}}</h4>
            </span>
            <hr id="postLineBreak">

            <!--Post body containing text and/or images-->
            <div class="userPostTextBody">
                <p>
                    {{data.content}}
                </p>
            </div>

            <!--Preview of amount of comments-->
            <hr id="postLineBreak">

            <h4 class="userPostCommentsPreview">{{data.commentsAmount}}</h4>

            <div class="userPostsComments">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="userPostsCommentsName">{{data.comment.name}}</h5>
                    </div>
                    <div class="col-md-9">
                        <p class="userPostsCommentsText">{{data.comment.text}}</p>
                    </div>
                </div>
            </div>


        </div>

    </div>







    <div class="col-md-3">
        <div id="sidebar">
            <h3 id="sidebarHeader">Start Here</h3>
            <hr id="postLineBreak">
            <div class="col-md-12">
                <span>
                    <a href="">
                        <button id="createAuthorButton">Create an Author</button>
                    </a>
                </span>
                <span>
                    <a href="">
                        <button id="createCategoryButton">Create a Category</button>
                    </a>
                </span>
                <span>
                    <a href="">
                        <button id="createPostButton">Create a Post</button>
                    </a>
                </span>
            </div>
        </div>

        <div id="communityGuidelines">
            <h3 id="communityGuidelinesHeader">Community Guidelines</h3>
            <hr id="postLineBreak">
            <div class="col-md-12">
                <p id="communityGuidelinesText">
                    Post It is a platform for users to discuss, share, and post about a variety of topics in an open environment. Please refrain
                    form posting any NSFW content. Be respectful, responsible, and mindful of your interactions.
                </p>
            </div>
        </div>
    </div>
</div>