<div class="row justify-content-center">

    <!--Author image, name, and voting on left side of post-->
    <div class="col-md-3">
        <div class="row justify-content-center">
            <img class="userPostImage" src={{data.User.dataValues.avatar}}>
        </div>
        <div class="row justify-content-center">
            <h6 class="userPostName">{{data.User.dataValues.username}}</h6>
        </div>
        <div class="row justify-content-center">
            <span>
                <button class="upvoteButton" data-postid="{{data.id}}">
                    <i class="fas fa-chevron-circle-up"></i>
                </button>
                <h4 class="voteValue">{{data.votecount}}</h4>
                <button class="downvoteButton" data-postid="{{data.id}}">
                    <i class="fas fa-chevron-circle-down"></i>
                </button>
            </span>
        </div>
    </div>

    <!--Author's post-->
    <div class="col-md-9">
        <div class="userPostBody">

            <!--Heading: Title / date posted-->
            <span class="userPostHeading">
                <a class="userPostPreview" href="/post/" {{{id}}} target="_blank">
                    <h3 class="userPostTitle" value={{data.id}}>{{data.title}}</h3>
                </a> -
                <h4 class="userPostTimeStamp"><span class="momentjs">{{data.createdAt}}</span> - #{{data.CategoryId}}</h4>
            </span>
            <hr id="postLineBreak">

            <!--Post body containing text and/or images-->
            <div class="userPostTextBody">
                <p>
                    {{data.content}}
                </p>
            </div>

            <!--Preview of amount of comments-->
            <hr id="postLineBreak">

            <h4 class="userPostCommentsPreview">{{data.commentsAmount}}</h4>
            <div class="commentBox">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>
                    <button class="btn addBtn" data-value={{{data.id}}}>Add Comment</button>
                </form>
            </div>
            <div class="userPostsComments">
                <div class="row">
                    {{#each comment}}
                    <div class="col-md-3">
                        <h5 class="userPostsCommentsName">{{this.username}}</h5>
                    </div>
                    <div class="col-md-9">
                        <p class="userPostsCommentsText">{{this.comment}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/comment.js"></script>
<script src="/js/vote.js"></script>