<div class="row justify-content-center" id="postPreview">


    {{#each posts}}
    <!--Author image, name, and voting on left side of post-->
    <div class="col-md-3">
        <div class="row justify-content-center">
            <img class="userPostImage" src="../public/images/userPlaceholder.jpg">
        </div>
        <div class="row justify-content-center">
            <h6 class="userPostName">{{this.UserId}}</h6>
        </div>
        <div class="row justify-content-center">
            <span>
                <button class="upvoteButton">
                    <i class="fas fa-chevron-circle-up"></i>
                </button>
                <h4 class="voteValue">{{this.voteValue}}</h4>
                <button class="downvoteButton">
                    <i class="fas fa-chevron-circle-down"></i>
                </button>
            </span>
        </div>
    </div>

    <!--Author's post-->
    <div class="col-md-6">
        <div class="userPostBody">

            <!--Heading: Title / date posted-->
            <span class="userPostHeading">
                <h3 class="userPostTitle" value={{this.id}}>{{this.title}}</h3> -
                <h4 class="userPostTimeStamp">{{this.createdAt}} - #{{this.category}}</h4>
            </span>
            <hr id="postLineBreak">

            <!--Post body containing text and/or images-->
            <a class="userPostPreview" href="/post/" {{{id}}} target="_blank">
                <div class="userPostTextBody">
                    <p>
                        {{this.content}}
                    </p>
                </div>
            </a>

            <!--Preview of amount of comments-->
            <hr id="postLineBreak">

            <h4 class="userPostCommentsPreview">{{this.commentsAmount}}</h4>


        </div>
    </div>
    {{/each}}

    <!--SIDE BAR-->
    <div class="col-md-3">
        <div id="sidebar">
            <h3 id="sidebarHeader">Start Here</h3>
            <hr id="postLineBreak">
            <div class="col-md-12">
                <span>
                    <a href="/author">
                        <button id="createAuthorButton">Create an Author</button>
                    </a>
                </span>
                <span>
                    <a href="/category">
                        <button id="createCategoryButton">Create a Category</button>
                    </a>
                </span>
                <span>
                    <a href="/post">
                        <button id="createPostButton">Create a Post</button>
                    </a>
                </span>
            </div>
        </div>

        <div id="communityGuidelines">
            <h3 id="communityGuidelinesHeader">Community Guidelines</h3>
            <hr id="postLineBreak">
            <div class="col-md-12">
                <p id="communityGuidelinesText">
                    Post It is a platform for users to discuss, share, and post about a variety of topics in an open environment. Please refrain
                    form posting any NSFW content. Be respectful, responsible, and mindful of your interactions.
                </p>
            </div>
        </div>
    </div>

</div>
