<div class="row justify-content-center" id="postPreview">


    <div class="col-md-12">

        {{#each posts}}
        <div class="row justify-content-center">
            <!--Author image, name, and voting on left side of post-->
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <img class="userPostImage" src={{this.User.dataValues.avatar}}>
                </div>
                <div class="row justify-content-center">
                    <h6 class="userPostName">{{this.User.dataValues.username}}</h6>
                </div>
                <div class="row justify-content-center">
                    <span>
                        <button class="upvoteButton" data-postid={{this.id}}>
                            <i class="fas fa-chevron-circle-up"></i>
                        </button>
                        <h4 class="voteValue">{{this.votecount}}</h4>
                        <button class="downvoteButton" data-postid={{this.id}}>
                            <i class="fas fa-chevron-circle-down"></i>
                        </button>
                    </span>
                </div>
            </div>

            <!--Author's post-->
            <div class="col-md-8">
                <div class="userPostBody">

                    <!--Heading: Title / date posted-->
                    <span class="userPostHeading">
                        <h3 class="userPostTitle" value={{this.id}}>{{this.title}}</h3> -
                        <h4 class="userPostTimeStamp"><span class="momentjs">{{this.createdAt}}</span> - #{{this.Category.dataValues.name}}</h4>
                    </span>
                    <hr id="postLineBreak">

                    <!--Post body containing text and/or images-->
                    <a class="userPostPreview" href="/{{this.Category.dataValues.name}}/{{this.id}}">
                        <div class="userPostTextBody">
                            <p id="postPreview">
                                {{this.content}}
                            </p>
                        </div>
                    </a>

                    <!--Preview of amount of comments-->
                    <hr id="postLineBreak">

                    <h4 class="userPostCommentsPreview">{{this.commentsAmount}}</h4>

                </div>
            </div>
        </div>
        {{/each}}

        <button class="btn btn-danger" onclick="topFunction()" id="buttonScroll" title="Go to top">Top</button>
    </div>
</div>

<script src="/js/vote.js"></script>