{{!-- USER SUBMITS A NEW POST --}}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<div id="createPost">
  <h2>{{title}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h4>{{msg}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <div id="postContainer" class="container">
          <div class="row">
            <div class="col-12">
              <form class="clearfix mb-4">

                Posting as: {{username}}
                <div class="form-group">
                  <label for="post-title"></label>
                  <input type="text" id="post-title" class="form-control" aria-describedby="post-title" placeholder="Title">
                </div>

                <div class="row">
                  <div class="col-10">
                    <fieldset>
                      <button type="button" class="btn btn-sm buttonMarkups" id="buttonBold">
                        <b>B</b>
                      </button>
                      <button type="button" class="btn btn-sm buttonMarkups" id="buttonItalic">
                        <i>i</i>
                      </button>
                      <button type="button" class="btn btn-sm buttonMarkups" id="buttonUnderline">
                        <u>U</u>
                      </button>
                      <button type="button" class="btn btn-sm buttonMarkups" id="buttonStrike">
                        <s>S</s>
                      </button>
                      <button type="button" class="btn btn-sm buttonMarkups" id="buttonHyperlink">
                        <a>L</a>
                      </button>
                      <button type="button" class="btn btn-sm" id="buttonOrderedList">OL</button>
                      <button type="button" class="btn btn-sm" id="buttonUnorderedList">UL</button>
                      {{!--
                      <button type="button" class="btn btn-sm dropdown-toggle" id="buttonFontSize" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">Font</button> --}} {{!--
                      <div class="dropdown-menu" aria-labelledby="buttonFontSize">
                        <option class="fontValues" value="1">1</option>
                        <option class="fontValues" value="2">2</option>
                        <option class="fontValues" value="3">3</option>
                        <option class="fontValues" value="4">4</option>
                        <option class="fontValues" value="5">5</option>
                      </div> --}}
                    </fieldset>
                  </div>

                  <div class="col-2">

                    <div class="form-group" aria-labelledby="buttonCategory">
                      <label for="categorydropdown">Select a Category:</label>
                      <select class="form-control" id="dropdown-menu">
                        {{#each categories}}
                          <option class="form-control" value={{id}}>
                            {{name}}
                          </option>
                        {{/each}}
                      </select>

                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="post-text"></label>
                  <input type="text" id="post-text" class="form-control" aria-describedby="post-text" placeholder="text"> {{!--
                  <div contenteditable="true" class="form-control" id="post-text" aria-describedby="post-description" data-text="Text"></div> --}}
                </div>

                <button id="post-submit" type="submit" class="btn btn-primary float-right">Post</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <a>r/Android</a>
        <div class="container sidebar">
          <div class="row">
            <div class="col">
              <a>Android news, reviews, tips, and discussions about rooting, tutorials, and apps. Generic discussion about phones/tablets
                is allowed, but technical-support and carrier-related issues should be asked in their respective subreddits!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../public/js/post.js"></script>